$above-phone: "only screen and (min-width : 576px)";
$above-tablet: "only screen and (min-width : 768px)";
$above-desktop: "only screen and (min-width : 992px)";
$above-wide-screen: "only screen and (min-width : 1200px)";

$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: monospace;

$text-color: hsl(0, 0%, 96%);
$font-size: 1rem;
$line-height: 1.5;
$background-color: #2c323d;
$alternate-color: #e2188f;

