<p class="header-secondary">
	We're always up to talk web. Ideas, project briefs or even questions, we invite you to start a
	conversation right now.
</p>
<div>
	Also find us on:
	<div class="is-flex">
		<a href="https://github.com/el-coop" target="_blank" class="details__contact-list-icon">
			<coop-animation-slices-animation src="/assets/images/github-icon.png" [height]="100"
											 [width]="100" [slices]="3"
											 title="github.com/el-coop"></coop-animation-slices-animation>
		</a>
		<a href="mailto:contact@elcoop.io" target="_blank" class="details__contact-list-icon">
			<coop-animation-slices-animation src="/assets/images/envelope.svg" [height]="100"
											 [width]="100" [slices]="3"
											 title="contact@elcoop.io"></coop-animation-slices-animation>
		</a>
	</div>
</div>
<div class="absolute-under-tablet"></div>
