<div class="page">
	<div>
		<div class="page__bg-logo" helpersContainRotatedElement>
			EL COOP
		</div>
	</div>
	<div class="page__body--short">
		<div class="header-alternate">
			Web design & applications development cooperative.
		</div>
		<div class="header-main">
			Create.<br> Develop. <br> Stand Out.<br>
			<small>We Make your ideas come true.</small>
		</div>
		<div class="link-wrapper">
			<a routerLink="/contact" class="main-link">
				Contact Us
			</a>
		</div>
	</div>
	<coop-animation-overlay>
		<coop-animation-ice-cream></coop-animation-ice-cream>
	</coop-animation-overlay>
</div>
<coop-animation-transition-bottom></coop-animation-transition-bottom>
